<button
  {{ with .id }}id="{{ . | urlize }}" {{ end }}
  {{ with .action }}formaction="{{ . | safeURL }}" {{ end }}
  {{ with .target }}formtarget="{{ . }}" {{ end }}
  {{ with .tabindex }}tabindex="{{ . }}" {{ end }}
  {{ with .onclick }}onclick="{{ . }}" {{ end }}
  {{ if in (slice "get" "post") .method }}formmethod="{{ .method }}" {{ end }}
  class="btn btn-{{ .type | default "default" }}{{ if eq .isghost "true" }} btn-ghost{{ end }}
  {{- if eq .isblock "true" }} btn-block{{ end }}"
>{{ .body }}</button>
