{{ $scratch := newScratch }}
{{ range where .Site.RegularPages "Type" "help" }}
  {{ $scratch.Set "integrity" .Params.integrity }}
{{ end }}
{{ if $scratch.Get "integrity" }}
  <script>
    (function (window, document, undefined) {
      "use strict";
      const digest = '{{ $scratch.Get "integrity" }}';
      const confirm = fragment => {
        document.body.insertBefore(fragment, document.body.firstChild);
        const form = document.forms.validate;
        form.digest.type = 'password';
        form.digest.value = digest;
        form.integrity.classList.add('form-success');
        form.integrity.disabled = true;
        const message = "Digest verified. Valid installation detected."
        form.querySelector('.help-block').innerHTML = message;
      };
      const validate = (search, form) => {
        search.includes(encodeURIComponent(digest)) ? confirm(form) : challenge(form);
      };
      const challenge = fragment => {
        const body = document.body;
        if (body.firstChild === document.forms.validate) return;
        while (body.firstChild) body.removeChild(body.firstChild);
        body.insertBefore(fragment, body.firstChild);
        const form = document.forms.validate;
        form.digest.value = digest;
        const check = () => {
          const classes = form.integrity.classList;
          if (form.checkValidity()) {
            classes.add('form-success');
            classes.remove('form-warning');
          } else {
            classes.add('form-warning');
            classes.remove('form-success');
          }
        };
        form.oninput = check;
        document.location.pathname !== '/' && (() => {
          form.integrity.classList.add('form-error');
          document.title = "Help | {{ .Site.Title }}";
          const help = form.querySelector('.help-block');
          help.innerHTML = help.innerText = "Signature invalid. Please try again.";
          const alert = document.createElement('div');
          alert.classList.add('alert');
          alert.classList.add('alert-warning');
          alert.innerHTML = '<strong>WARNING</strong> Invalid digest. Help may be unavailable.';
          document.body.appendChild(alert);
        })();
      };
      const initialize = () => {
        const fragment = document.createDocumentFragment();
        fragment.appendChild(document.forms.validate);
        (document.location.search.replace('?digest=','').length)
          ? validate(location.search, fragment)
          : challenge(fragment);
      };
      document.onreadystatechange = () => {
        document.readyState === 'interactive' && initialize();
      };
    })(window, document);
  </script>
{{ end }}
