{{ define "header" }}
  {{ partial "menu" . }}
{{ end }}
{{ define "main" }}
  <header>
    <h1>{{ .Title }}</h1>
  </header>
  {{ range .Data.Pages }}
    <article itemscope itemtype="http://schema.org/CreativeWork">
      <h2 itemprop="headline"><a href="{{ .Permalink }}">{{ .Title }}</a></h2>
      <div itemprop="hasPart">{{ .Summary }}</div>
      {{ if .Truncated }}
        <p><a href="{{ .RelPermalink }}">Read More&nbsp;&raquo;</a></p>
      {{ end }}
    </article>
  {{ end }}
{{ end }}
{{ define "footer" }}
  {{ partial "pagination" . }}
  {{ partial "powered-by" . }}
{{ end }}
