{{ $custom := resources.Get "css/custom.css" }}

{{ if eq .Site.Params.hackcss.disabled true }}
  <style>{{ (slice $custom | resources.Concat "styles.css").Content | safeCSS }}</style>
{{ else }}
  {{ $hack := resources.Get "css/vendor/hack/hack.css" }}
  {{ $standard := resources.Get "css/vendor/hack/standard.css" }}
  {{ $dark := resources.Get "css/vendor/hack/dark.css" }}
  {{ $darkgrey := resources.Get "css/vendor/hack/dark-grey.css" }}
  {{ $solarizeddark := resources.Get "css/vendor/hack/solarized-dark.css" }}
  {{ $theme := resources.Get "css/theme.css" | minify }}
  {{ if eq .Site.Params.hackcss.palette "dark-grey" }}
    {{ if eq .Site.Params.hackcss.mode "standard" }}
      <style>{{ (slice $hack $standard $darkgrey $theme $custom | resources.Concat "styles.css").Content | safeCSS }}</style>
    {{ else }}
      <style>{{ (slice $hack $darkgrey $theme $custom | resources.Concat "styles.css").Content | safeCSS }}</style>
    {{ end }}
  {{ else if eq .Site.Params.hackcss.palette "solarized-dark" }}
    {{ if eq .Site.Params.hackcss.mode "standard" }}
      <style>{{ (slice $hack $standard $solarizeddark $theme $custom | resources.Concat "styles.css").Content | safeCSS }}</style>
    {{ else }}
      <style>{{ (slice $hack $solarizeddark $theme $custom | resources.Concat "styles.css").Content | safeCSS }}</style>
    {{ end }}
  {{ else }}
    {{ if eq .Site.Params.hackcss.mode "standard" }}
      <style>{{ (slice $hack $standard $dark $theme $custom | resources.Concat "styles.css").Content | safeCSS }}</style>
    {{ else }}
      <style>{{ (slice $hack $dark $theme $custom | resources.Concat "styles.css").Content | safeCSS }}</style>
    {{ end }}
  {{ end }}
{{ end }}
