<!-- {{/*
HTML attributes: href [default: "#"], class, referrerpolicy, target [default: "_blank"], rel [default: "external noopener"]
Custom attributes: text [default: Inner], body [default: href], itemtype

Basic usage:
{{< external "https://vhs.codeberg.page/after-dark" />}}
{{< external text="After Dark" href="//vhs.codeberg.page/after-dark" />}}
{{< external class="muted" href="//vhs.codeberg.page/after-dark" />}}
{{< external "gopher://gopher.quux.org:70" />}}

With external link styling removed:
{{< external rel="noopener" href="https://keybase.io/vhs" />}}

With internal link opening in a new window:
{{< external href="crypto-anarchist-manifesto.pdf" text="Manifesto" />}}

With structured data type:
{{< external itemtype="significantLink" href="https://vhs.codeberg.page" />}}

With site-wide Referrer Policy overridden:
{{< external referrerpolicy="unsafe-url" href="http://goo.gl" />}}

With markdown image and link styling removed:
{{% external href="https://source.unsplash.com/collection/983219/2160x1440" %}}
  ![Example image](https://source.unsplash.com/collection/983219/1080x720 "Click to view enlaged")
{{% /external %}}

Combined with button shortcode opening in same window with search query:
{{< external target="_self" href="?s=query" >}}
  {{< hackcss-button text="Default" />}}
{{< /external >}}

*/}} -->

{{ $href := .Get "href" | default nil }}
{{ $body := .Get "text" | default .Inner }}
{{ $class := .Get "class" }}
{{ $referrerpolicy := .Get "referrerpolicy" }}
{{ $target := .Get "target" }}
{{ $rel := .Get "rel" }}
{{ $itemtype := .Get "itemtype" }}
{{ if .IsNamedParams }}
  {{ partial "components/external.html" (dict "href" $href "body" $body "class" $class "referrerpolicy" $referrerpolicy "target" $target "rel" $rel "itemtype" $itemtype "suppress_external" (and .Inner (eq (len (findRE "external" $rel)) 0))) }}
{{ else }}
  {{ partial "components/external.html" (dict "href" (.Get 0)) }}
{{ end }}
{{ if or (and .IsNamedParams (eq $href nil)) (and (eq .IsNamedParams false) (eq (.Get 0) nil)) }}
  <p>{{ partial "components/alert.html" (dict "type" "error" "body" (errorf "Invalid use of external shortcode. Please provide an external link.")) }}</p>
{{ end }}
