<!-- {{/*
Basic usage:
{{< hackcss-buttongroup >}}
  {{< hackcss-button text="Left" />}}
  {{< hackcss-button text="Middle" type="info" />}}
  {{< hackcss-button text="Right" isghost="true" />}}
{{< /hackcss-buttongroup >}}

{{< hackcss-buttongroup >}}
  {{< hackcss-button text="Left" action="/go/somewhere" />}}
{{< /hackcss-buttongroup >}}

Advanced usage:
{{< hackcss-buttongroup action="/go/somewhere" method="post" >}}
  {{< hackcss-button text="Left" target="_self" />}}
  {{< hackcss-button text="Right" isghost="true" />}}
{{< /hackcss-buttongroup >}}

{{< hackcss-buttongroup action="/do/something" target="_blank" >}}
  <input type="hidden" name="AssociateTag" value="vhs-20">
  <input type="hidden" name="ASIN.1" value="B0736PV196">
  <input type="hidden" name="Quantity.1" value="2">
  {{< hackcss-button text="Print" action="javascript:window.print()" />}}
  {{< hackcss-button text="Purchase" isghost="true" />}}
{{< /hackcss-buttongroup >}}

*/}} -->
{{ $action := .Get "action" }}
{{ $target := .Get "target" }}
{{ $method := .Get "method" }}
<form
  {{ if $action }}action="{{ $action | safeURL }}" {{ end }}
  {{ if $target }}target="{{ $target | safeURL }}" {{ end }}
  {{ if $method }}method="{{ $method | safeURL }}" {{ end }}
  class="btn-group">
  {{- .Inner -}}
</form>
