<!-- {{/*
Available types: "default", "primary", "success", "info", "warning", "error"

Basic usage:
{{< hackcss-button text="Default" />}}
{{< hackcss-button text="Info" type="info" />}}
{{< hackcss-button text="Default Ghost" isghost="true" />}}
{{< hackcss-button text="Block Level Button" isblock="true" />}}
{{< hackcss-button text="Primary Ghost" type="primary" isghost="true" />}}

Inner usage:
{{< hackcss-button type="error" >}}<b>ABORT</b>{{< /hackcss-button >}}
{{% hackcss-button type="success" %}}**Purchase**{{% /hackcss-button %}}

With loading indicator:
{{< hackcss-button >}}
  Please wait&hellip; {{< hackcss-throbber >}}
{{< /hackcss-button >}}

Inside a ButtonGroup:
{{< hackcss-buttongroup action="/go/somewhere" >}}
  {{< hackcss-button text="Default Action" isghost="true" />}}
  {{< hackcss-button text="Custom Action" action="/go/elsewhere" />}}
  {{< hackcss-button text="Custom Target" target="_blank" />}}
  {{< hackcss-button text="Custom Method" method="get" />}}
{{< /hackcss-buttongroup >}}

*/}} -->
{{ $type := .Get "type" }}
{{ $body := .Get "body" | default .Inner }}
{{ $isghost := .Get "isghost" }}
{{ $isblock := .Get "isblock" }}
{{ $action := .Get "action" }}
{{ $target := .Get "target" }}
{{ $method := .Get "method" }}
{{ partial "components/button" (dict "type" $type "body" $body "isghost" $isghost "isblock" $isblock "action" $action "target" $target "method" $method) }}